@model Project.Models.Account;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
       <form asp-controller="Access" asp-action="Login" method="post">
           <h1>Login</h1>
           <input type="email" asp-for="email" />
           <input type="password" asp-for="password" />

           <label>
               <input type="checkbox" asp-for="keepLoggedIn" />
               Keep me logged In.
           </label>
           <button type="submit">Login</button>

        @if (ViewData["ValidateMessage"] != null)
        {
            <br />
            <br />
                <label>@ViewData["ValidateMessage"]</label>
        }
    </form>
</body>
</html>
